<div class="container">
	<div class="col-md-8 col-md-offset-2">
		{{#bs-form formLayout="vertical" model="mentor" onSubmit=(action "postMentor") as |form|}}
			<div class="row reg-form-row">
                <div class="col-md-6 {{usernameclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="username" label="username" placeholder="username" property="username" required=true}}
                        <i class="glyphicon glyphicon-{{usernameIcon}} form-control-feedback "></i>
                    </div>
                </div>
                <div class="col-md-6 {{emailclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="email" label="Email" placeholder="Email" property="email" required=true}}
                        <i class="glyphicon glyphicon-{{emailIcon}} form-control-feedback "></i>
                    </div>
                </div>
            </div>
            <div class="row reg-form-row">
                <div class="col-md-6 {{usernameclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="password" label="Password" placeholder="Password" property="password" required=true}}
                        <i class="glyphicon glyphicon-{{usernameIcon}} form-control-feedback "></i>
                    </div>
                </div>
                <div class="col-md-6 {{emailclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="video" label="Video" placeholder="Video" property="video" required=true }}
                        <i class="glyphicon glyphicon-{{emailIcon}} form-control-feedback "></i>
                    </div>
                </div>
            </div>
            <div class="row reg-form-row">
                <div class="col-md-6 {{usernameclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="cv" label="CV" placeholder="CV" property="cv" required=true }}
                        <i class="glyphicon glyphicon-{{usernameIcon}} form-control-feedback "></i>
                    </div>
                </div>
                <div class="col-md-6 {{emailclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="experience" label="Experience" placeholder="Experience" property="experience" required=true }}
                        <i class="glyphicon glyphicon-{{emailIcon}} form-control-feedback "></i>
                    </div>
                </div>
            </div>
            <div class="row reg-form-row">
                <div class="col-md-6 {{usernameclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="researchinterest" label="Research Interest" placeholder="Research Interest" property="researchinterest" required=true }}
                        <i class="glyphicon glyphicon-{{usernameIcon}} form-control-feedback "></i>
                    </div>
                </div>
                <div class="col-md-6 {{emailclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="institution" label="Institution" placeholder="Institution" property="institution" required=true }}
                        <i class="glyphicon glyphicon-{{emailIcon}} form-control-feedback "></i>
                    </div>
                </div>
            </div>
            <div class="row reg-form-row">
                <div class="col-md-6 {{usernameclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="fieldofstudy" label="Field of Study" placeholder="Field of Study" property="fieldofstudy" required=true }}
                        <i class="glyphicon glyphicon-{{usernameIcon}} form-control-feedback "></i>
                    </div>
                </div>
                <div class="col-md-6 {{emailclasses}}">
                    <div class="form-group has-feedback">
                        {{form.element controlType="webpage" label="Webpage" placeholder="Webpage" property="webpage" required=true }}
                        <i class="glyphicon glyphicon-{{emailIcon}} form-control-feedback "></i>
                    </div>
                </div>
            </div>
            {{form.element controlType="bio" label="Bio" property="bio" required=true}}
			{{bs-button class="btn-block" defaultText="Submit" type="primary" buttonType="submit"}}
		{{/bs-form}}
	</div>	
</div>
